body {
   background: url("./components//img/bg.jpeg");
   background-size: contain;
   background-color: rgb(129, 80, 35);
}

.header {
   margin-bottom: 50px;
}
.wrap {
   position: relative;
}
.search {
   position: relative;

   span {
      position: absolute;
      top: 4px;
      right: 120px;
      font-size: 30px;
      opacity: 0.6;
      transition: 0.3s all;
      cursor: pointer;
      z-index: 50;
      color: rgb(19, 18, 18);
      font-weight: 700;
      @media (max-width: 991.98px) {
         right: 80px;
      }
      @media (max-width: 500px) {
         right: 40px;
      }

      &:hover {
         opacity: 1;
      }
   }
}
.search__input {
   border: 1px solid #ffffff;
   padding: 10px;
   width: 90%;
   background-color: rgba(255, 255, 255, 0.493);
   color: rgb(44, 42, 42);
   font-size: 22px;
   margin-bottom: 30px;
   font-weight: 700;
   transition: 0.3s all ease 0s;
   &::placeholder {
      color: rgb(255, 255, 255);
   }
   &:focus {
      outline: none;
      border: 4px solid #ffffff;
      transition: 0.3s all ease 0s;
   }
}
.image {
   width: 50%;
}

.disabled {
   display: none;
}

.cart__list {
   margin-bottom: 30px;
}
.cart {
   width: 40px;
   height: 40px;
   margin-right: 10px;
}
.not__found {
   color: #ffffff;
   font-weight: 700;
   text-transform: capitalize;
}
.loading {
   color: #ffffff;
}
